<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Healthy Living Guide - Home</title>
    <link rel="stylesheet" href="/css/styles.css">

</head>
<body>
    <nav>
        <div>
            <ul>
                <li><a href="home" class="active">Home</a></li>
                <li><a href="dragon" >Dragon School</a></li>
                <li><a href="phoenix">Phoenix School</a></li>
                <li><a href="owl">Owl School</a></li>
            </ul>
        </div>
    </nav>
    <main>
        <section class="title">
            <h1>Welcome to Healthy Living Guide</h1>
            <p>Your complete resource for maintaining a healthy lifestyle.</p>
            <p>livin a healthier life.</p>

        </section>

        <div class="features" >
            <a href="dragon " style="text-decoration:none ">
                <div class="feature-card">
                    <h2>Dragon school</h2>
                    <p>Discover the balanced diet and learn how to cook healthier food.</p>
                </div>
             </a>
            <a href="phoenix " style="text-decoration:none ">
                <div class="feature-card">
                    <h2>phoenix school</h2>
                    <p>Get expert advice on exercise routines and workout plans for your shapes and goal.</p>
                </div>
            </a>
            <a href="owl " style="text-decoration:none ">
                <div class="feature-card">
                    <h2>owl school</h2>
                    <p>Get expert advice on exercise routines and workout plans for your shapes and goal.</p>
                </div>
            </a>
            <div class="feature-card">
                <h2>Place holder for difference page</h2>
                <p>Stay tune for and update</p>
            </div>
            <div class="feature-card">
                <h2>Place holder for difference page</h2>
                <p>Stay tune for and update</p>
            </div>
            <div class="feature-card">
                <h2>Place holder for difference page</h2>
                <p>Stay tune for and update</p>
            </div>
            <div class="feature-card">
                <h2>Place holder for difference page</h2>
                <p>Stay tune for and update</p>
            </div>
            <div class="feature-card">
                <h2>Place holder for difference page</h2>
                <p>Stay tune for and update</p>
            </div>
            <div class="feature-card">
                <h2>Place holder for difference page</h2>
                <p>Stay tune for and update</p>
            </div>
        </div>
    </main>
    <a href="#" class="scroll-top">↑</a>
    <footer>
        <p>© 2025 Feen. All rights reserved.</p>
    </footer>
</body>

</html>