<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Dragon School</title>
    <link rel="stylesheet" href="/css/styles.css" />
  </head>
  <body>
    <nav>
      <div>
        <ul>
          <li><a href="home">Home</a></li>
          <li><a href="dragon" class="active">Dragon School</a></li>
          <li><a href="phoenix">Phoenix School</a></li>
          <li><a href="owl">Owl School</a></li>
        </ul>
      </div>
    </nav>

    <main>
      <section class="title">
        <h1>Candidate list</h1>
        <p>Learn all about dragon care and maintenance.</p>
      </section>

      <section class="summary">
        <h2>Job list</h2>
        <p>Total job: <span id="total-count">0</span></p>
      </section>

      <section class="candidate-table">
        <h2>All Open position</h2>
        <table class="table">
          <thead>
            <tr>
              <th>jobTitle</th>
              <th>jobDescription</th>
              <th>company</th>
              <th>Last Date to apply</th>
              <th>Action</th>
            </tr>
          </thead>
          <tbody id="job-list">
            <!-- job list -->
          </tbody>
        </table>
      </section>
    </main>

    <a href="#" class="scroll-top">↑</a>

    <footer>
      <p>© 2025 Feen. All rights reserved.</p>
    </footer>

    <script>
      document.addEventListener("DOMContentLoaded", function () {
        const jobListTable = document.getElementById("job-list");
        const totalCount = document.getElementById("total-count");
        fetch("/api/joblist")
          .then((res) => res.json())
          .then((jobs) => {
            jobs.sort((a, b) => new Date(a.deadline) - new Date(b.deadline));

            if (jobs.length === 0) {
              const row = document.createElement("tr");
              row.innerHTML = `<td colspan="5" style="text-align:center;">No open positions</td>`;
              jobListTable.appendChild(row);
            } else {
              jobs.forEach((job) => {
                const row = document.createElement("tr");
                row.innerHTML = `
            <td>${job.jobTitle}</td>
            <td>${job.jobDescription}</td>
            <td>${job.companyName}</td>
            <td>${job.deadline}</td>
            <td><button onclick="window.location.href='/applyjob/${job.jobId}'"> Apply</button></td>
          `;
                jobListTable.appendChild(row);
              });
            }

            totalCount.textContent = jobs.length;
          })
          .catch((err) => console.error("Error fetching jobs:", err));
      });
    </script>
  </body>
</html>
